# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.venv/
env/

# Instance / local settings
instance/
.env

# Editor directories
.vscode/

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# SQLite
*.sqlite3
