{% extends "base.html" %}

{% block title %}New Entry - Expense Tracker{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Enter the expense limits per month</h2>

      <form method="post" enctype="multipart/form-data" class="row g-3">
       {% for c in categories %}
        <div class="col-12">
          <label class="form-label">{{ c }}</label>
          <input class="form-control" type="number" name="{{ c }}" value="{{ category_limits.get(c, 0) }}" required>
        </div>
       {% endfor %}
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <script>
    (function() {
    const category_limits= {"Food": 6000,
    "Transport": 3000,
    "Entertainment": 2000,
    "Bills": 20000,
    "Shopping": 2000,
    "Health": 2500,
    "Investment": 58500,
    "Savings": 29000,
    "Miscellaneous": 500};

    const categorySelect = document.querySelector("select[name='category']");
    const expenseInput = document.querySelector("input[name='amount']");
    const openingBalanceInput = document.querySelector("input[name='OpeningBalance']");
    const closingBalanceInput = document.querySelector("input[name='ClosingBalance']");
    var category_default=categorySelect.value;
    openingBalanceInput.value=category_default;
    categorySelect.addEventListener("change", function() {
      const selectedCategory = categorySelect.value;
      const openingBalance = category_limits[selectedCategory] || category_default;
      openingBalanceInput.value = openingBalance;
      closingBalanceInput.value=openingBalanceInput.value;
    });

    expenseInput.addEventListener("input", function() {
      const expense = parseFloat(expenseInput.value) || 0;
      const openingBalance = parseFloat(openingBalanceInput.value) || 0;
      const closingBalance = openingBalance - expense;
      closingBalanceInput.value = closingBalance;
    });
    })();
  </script>
{% endblock %}

